body {
    font-family: 'Roboto', sans-serif;
}

.alert-container {

}

.callout-container {
    height: 100vh;

    background: url(../images/whiskey.jpg) no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.quotes-container {

}

.features-container {

}

/*Block dividers*/

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #f05f40;
}

/*Jumbotron*/

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: #86005d;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    margin: 25px 0;
    color: #000000;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #000000;
}